*.pyc
*~
doc/gen-html
doc/schema/audio.html
doc/schema/cluster.html
doc/schema/communication.html
doc/schema/email.html
doc/schema/entities.html
doc/schema/ex.html
doc/schema/language.html
doc/schema/linking.html
doc/schema/metadata.html
doc/schema/nitf.html
doc/schema/services.html
doc/schema/situations.html
doc/schema/spans.html
doc/schema/structure.html
doc/schema/twitter.html
doc/schema/uuid.html
